/* 전체 헤더 스타일링 */
.navbar {
  background-color: #ffffff; 
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 네비게이션 바 스타일링 */
.navbar nav {
  display: flex;
  justify-content: space-between; /* nav-list와 auth-buttons를 양 끝으로 배치 */
  align-items: center;
  margin: 0 50px; /* 양쪽 여백 조정 */
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* 왼쪽 끝에 위치한 홈 링크 */
.home-link {
  margin-right: 20px; /* 홈 링크와 나머지 링크 간의 간격 */
}

/* 링크 스타일링 */
.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
  margin-left: 20px;
}

/* 링크에 마우스를 올렸을 때 */
.nav-link:hover {
  color: #9387e6;
}

/* 링크를 클릭했을 때 */
.nav-link:active {
  color: #7A6CCF;
}

/* 로그인 및 회원가입 버튼 스타일링 */
.auth-buttons {
  display: flex;
  align-items: center;
}

.button {
  background-color: #ffffff;
  color: #4A90E2;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #7A6CCF;
  color: white;
}
